.page-activity{
	position: relative;
	z-index: 1;
	margin-top: -30px;
	overflow: hidden;

	@media (min-width: $media_sm) {
		margin-top: -80px;
	}

	.bg-1{
		position: absolute;
		left: 50%;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		background: url('../images/activity/bg_1_xs.png') no-repeat center top;
		background-size: 100% auto;
		transform: translateX(-50%);


		@media (min-width: $media_sm) {
			width: 1920px;
			background: url('../images/activity/bg_1_md.png') no-repeat center top;
		}
	}

	.bg-2{
		position: absolute;
		left: 50%;
		top: -16%;
		width: 120%;
		height: 1900px;
		z-index: -1;
		background: url('../images/activity/bg_2_xs.png') no-repeat center top;
		background-size: auto 100%;
		transform: translate(-50%, 0%);

		@media (min-width: $media_md) {
			top: -36%;
			width: 1920px;
			height: 2200px;
			background: url('../images/activity/bg_2_md.png') no-repeat center top;
		}
	}

	.bg-3{
		position: absolute;
		left: 50%;
		top: -6%;
		width: 120%;
		height: 1400px;
		z-index: -1;
		background: url('../images/activity/bg_3_xs.png') no-repeat center top;
		background-size: auto 100%;
		transform: translate(-50%, 0%);

		@media (min-width: $media_sm) {
			top: 20%;
			width: 1920px;
			height: 1700px;
			background: url('../images/activity/bg_3_md.png') no-repeat center top;
		}
	}

	.content-1{
		position: relative;
		margin-bottom: 20%;

		@media (min-width: $media_md) {
			margin-bottom: 12%;
		}

		.bubble{
			padding: 16% 8%;
			margin: 0 -14px;
			margin-top: 28%;
			margin-bottom: -12%;

			background-image: url('../images/activity/bg_1_bubble_xs.png');
			background-repeat: no-repeat;
			background-position: center top;
			background-size: 100% 100%;

			@media (min-width: $media_md) {
				padding: 11% 12% 8% 12%;
				margin-top: 12%;
				margin-left: 0;
				margin-right: 0;
				background-image: url('../images/activity/bg_1_bubble_md.png');
			}

			.title{
				width: 76%;
				margin-top: 8%;
				margin-bottom: 8%;

				@media (min-width: $media_md) {
					width: 42%;
					margin-top: 0;
					margin-bottom: 2%;
				}
			}

			p{
				padding-left: 32px;

				@media (min-width: $media_sm) {
					padding-left: 40px;
				}
			}

			ul{
				padding-left: 50px;

				@media (min-width: $media_sm) {
					padding-left: 60px;
				}
			}

			p, li{
				font-size: 16px;
				font-weight: 500;
				margin: 0;
				
				@media (min-width: $media_sm) {
					font-size: 20px;
				}

				@media (min-width: $media_md) {
					font-size: 20px;
				}
			}

			.s-title{
				color: #fff;
				font-size: 30px;
				font-weight: 700;
				text-shadow: 
					-2px -2px 0 #000, 
					2px -2px 0 #000,
					-2px 2px 0 #000, 
					2px  2px 0 #000,
					-1px -1px 0 #000, 
					1px -1px 0 #000,
					-1px 1px 0 #000, 
					1px 1px 0 #000;
				background: url('../images/activity/icon_4.png') no-repeat left center;
				background-size: 20px auto;
				
				@media (min-width: $media_sm) {
					font-size: 40px;
					background-size: 26px auto;
				}
			}
		}

		.link-con{
			display: flex;
			flex-direction: column;

			@media (min-width: $media_sm) {
				flex-direction: row;
			}

			a:first-child{
				order: 2;

				@media (min-width: $media_sm) {
					order: 0;
				}
			}

			.normal-link{
				display: inline-flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				background-color: #000;
				border: 3px solid #000;
				border-radius: 100px;
				padding: 6px 20px;
				margin: 4% 0;
			
				@media (min-width: $media_sm) {
					padding: 20px 40px;
					margin: 0;
					margin-top: 4%;
					margin-right: 4%;
				}
			
				&:hover, &:active, &:focus{
					text-decoration: none;
				}
			
				&:hover{
					background-color: #fef600;
					border: 3px solid #000;
			
					span{
						color: #000;
					}
			
					.lightning{
						background: url('../images/global/icon_lightning_4.png') no-repeat center center;
					}
				}
			
				span{
					color: #fef600;
					font-size: 20px;
					font-weight: 500;
			
					@media (min-width: $media_sm) {
						font-size: 20px;
					}
				}
			
				.lightning{
					width: 22px;
					height: 14px;
					margin-left: 4px;
					background: url('../images/global/icon_lightning_2.png') no-repeat center center;
					background-size: contain;
			
					@media (min-width: $media_sm) {
						width: 30px;
						height: 18px;
						margin-left: 15px;
					}
				}
			}
		}

		.big-ball{
			position: absolute;
			right: -20%;
			top: -10%;
			width: 80%;
			z-index: 1;

			@media (min-width: $media_md) {
				right: 2%;
				top: -10%;
				width: 50%;
			}

			.ball{

			}

			.smoke{
				position: absolute;
				left: 50%;
				top: 50%;
				width: 100%;
				height: 100%;
				transform: translate(-50%, -50%);
				// transform-origin: center center;
			}
		}
	}

	.content-2, .content-3{
		.title{
			color: #fedd00;
			font-size: 40px;
			font-weight: 700;
			text-shadow: 
				-2px -2px 0 #000, 
				2px -2px 0 #000,
				-2px 2px 0 #000, 
				2px  2px 0 #000,
				-1px -1px 0 #000, 
				1px -1px 0 #000,
				-1px 1px 0 #000, 
				1px 1px 0 #000;
			margin-bottom: 6%;

			@media (min-width: $media_sm) {
				font-size: 52px;
				margin-bottom: 4%;
			}
		}
	}

	.content-2{
		position: relative;
		margin: 0 4%;
		margin-bottom: 20%;

		@media (min-width: $media_md) {
			margin-bottom: 12%;
		}

		.big-title{
			position: relative;
			width: 84%;
			margin-top: 12%;
			margin-bottom: 6%;

			@media (min-width: $media_sm) {
				width: 100%;
				margin-top: 18%;
			}

			@media (min-width: $media_md) {
				margin-top: 24%;
			}

			.icon{
				position: absolute;
				right: -4%;
				top: 12%;
				width: 20%;
				transform-origin: 26% bottom;

				@media (min-width: $media_sm) {
					right: 44%;
					top: -24%;
					width: 10%;
				}
			}
		}

		.big-list{
			margin-bottom: 8%;
			// padding-right: 20%;

			@media (min-width: $media_md) {
				// padding-right: 20%;
			}

			.item{
				display: flex;
				justify-content: flex-start;
				align-items: baseline;
				margin-bottom: 4%;

				@media (min-width: $media_sm) {
					margin-bottom: 2%;
				}

				P{
					color: #fff;
					font-size: 16px;
					font-weight: 700;
					margin: 0;
					
					@media (min-width: $media_sm) {
						font-size: 20px;
					}

					@media (min-width: $media_md) {
						font-size: 28px;
					}
				}

				.s-des{
					margin-left: 14px;
				}

				.s-title{
					white-space: nowrap;
					position: relative;
					padding-left: 30px;

					@media (min-width: $media_sm) {
						padding-left: 34px;
					}

					@media (min-width: $media_md) {
						padding-left: 42px;
					}

					&::before{
						content: '';
						position: absolute;
						left: 0;
						top: 50%;
						width: 100%;
						height: 20px;
						display: block;
						background: url('../images/activity/ball.png') no-repeat left center;
						background-size: contain;
						transform: translateY(-50%);

						@media (min-width: $media_sm) {
							height: 24px;
						}

						@media (min-width: $media_md) {
							height: 32px;
						}
					}
				}
			}
		}

		.list{

			.item{
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: baseline;
				margin-bottom: 4%;

				@media (min-width: $media_sm) {
					margin-bottom: 2%;
				}

				P{
					color: #fff;
					font-size: 16px;
					font-weight: 500;
					margin: 0;
					
					@media (min-width: $media_sm) {
						font-size: 20px;
					}

					@media (min-width: $media_md) {
						font-size: 28px;
					}
				}

				.s-des{
					margin-left: 30px;

					@media (min-width: $media_sm) {
						margin-left: 34px;
					}

					@media (min-width: $media_md) {
						margin-left: 42px;
					}
				}

				.s-title{
					color: #ffe400;
					font-size: 24px;
					font-weight: 700;
					line-height: 1.6;
					position: relative;
					padding-left: 30px;

					@media (min-width: $media_sm) {
						font-size: 32px;
						padding-left: 34px;
					}

					@media (min-width: $media_md) {
						font-size: 42px;
						padding-left: 42px;
					}

					&::before{
						content: '';
						position: absolute;
						left: 0;
						top: 50%;
						width: 100%;
						height: 20px;
						display: block;
						background: url('../images/activity/ball.png') no-repeat left center;
						background-size: contain;
						transform: translateY(-50%);

						@media (min-width: $media_sm) {
							height: 24px;
						}

						@media (min-width: $media_md) {
							height: 32px;
						}
					}
				}
			}
		}
	}

	.content-3{
		position: relative;
		margin: 0 4%;
		margin-bottom: 30%;

		@media (min-width: $media_sm) {
			margin-bottom: 12%;
		}

		@media (min-width: $media_md) {
			margin-bottom: 20%;
		}

		.step{
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			margin-bottom: 8%;

			@media (min-width: $media_sm) {
				flex-direction: row;
				margin-bottom: 4%;
			}

			.arrow{
				margin: 8%;
				margin-bottom: 12%;
				width: 4%;
				transform: rotate(90deg);

				@media (min-width: $media_sm) {
					margin: 4%;
					transform: rotate(0deg);
				}
			}

			.item{
				position: relative;
				width: 54%;

				@media (min-width: $media_sm) {
					width: 33.33%;
				}

				@media (min-width: $media_md) {
					width: 26%;
				}

				.item-container{
					position: relative;
					width: 100%;
					padding-top: 100%;
					background-color: #fff;
					border: 2px solid #000;
					border-radius: 100%;

					.item-center{
						position: absolute;
						left: 0;
						top: 0;
						width: 100%;
						height: 100%;

						display: flex;
						flex-direction: column;
						justify-content: flex-start;
						align-items: center;

						.num{
							color: #15ba6e;
							font-size: 50px;
							font-weight: 900;
							letter-spacing: 0;
							line-height: 1;
							text-align: center;
							margin-top: -15%;

							@media (min-width: $media_md) {
								font-size: 60px;
							}

							@media (min-width: $media_lg) {
								font-size: 80px;
							}
						}
			
						.icon{
							width: 48%;
							margin: 2% 0;

							@media (min-width: $media_md) {
								width: 42%;
								margin: 4% 0;
							}

							@media (min-width: $media_lg) {
								width: 48%;
							}
						}
			
						p{
							font-size: 18px;
							font-weight: 500;
							line-height: 1.4;
							letter-spacing: 0;
							margin: 0;
							z-index: 10;

							@media (min-width: $media_md) {
								font-size: 20px;
							}

							@media (min-width: $media_lg) {
								font-size: 22px;
							}

							span{
								position: relative;
								z-index: 1;
							}

							&.underline{
								position: relative;

								&::after{
									content: '';
									position: absolute;
									left: 0;
									bottom: 0;
									display: block;
									width: 100%;
									height: 10px;
									background-color: #ffe400;
									border-radius: 10px;
								}
							}
						}
					}
				}
			}
		}

		.list{

			.item{
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: baseline;
				margin-bottom: 4%;

				@media (min-width: $media_sm) {
					margin-bottom: 2%;
				}

				P{
					color: #fff;
					font-size: 16px;
					font-weight: 700;
					margin: 0;
					
					@media (min-width: $media_sm) {
						font-size: 20px;
					}

					@media (min-width: $media_md) {
						font-size: 28px;
					}
				}

				.s-des{
					margin-left: 30px;

					@media (min-width: $media_sm) {
						margin-left: 34px;
					}

					@media (min-width: $media_md) {
						margin-left: 42px;
					}
				}

				.s-title{
					white-space: nowrap;
					position: relative;
					padding-left: 30px;

					@media (min-width: $media_sm) {
						padding-left: 34px;
					}

					@media (min-width: $media_md) {
						padding-left: 42px;
					}

					&::before{
						content: '';
						position: absolute;
						left: 0;
						top: 50%;
						width: 100%;
						height: 20px;
						display: block;
						background: url('../images/activity/ball.png') no-repeat left center;
						background-size: contain;
						transform: translateY(-50%);

						@media (min-width: $media_sm) {
							height: 24px;
						}

						@media (min-width: $media_md) {
							height: 32px;
						}
					}
				}
			}
		}
	}
}

footer{
	position: relative;
	z-index: 10;

	@media (min-width: $media_md) {
		margin-top: -80px;
	}

	.bg{
		position: relative;
		width: 100%;
		background-color: #000;

		@media (min-width: $media_md) {
			width: 100%;
			// height: 140px;
			// background: url('../images/features1/footer.png') no-repeat center top;
			background-size: 1920px auto;
			background-color: transparent;

			display: flex;
			justify-content: center;
			align-items: center;
		}

		.copyright{
			color: #fff;
			font-size: 12px;
			text-align: center;
			margin: 0;
			padding: 10px;
		}
	}
}

.lb-container{
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.85);
	z-index: 900;

	.wrapper{
		position: absolute;
		left: 50%;
		top: 50%;
		max-width: 1440px;
		width: calc(100% - 28px);
		height: 70vh;
		transform: translate(-50%, -50%);
		background-color: #fef600;
		padding: 4%;

		@media (min-width: $media_sm) {
			width: calc(100% - 40px);
		}

		.lb-close{
			display: block;
			position: fixed;
			right: 0%;
			top: -8%;
			width: 30px;

			@media (min-width: $media_sm) {
				right: 4%;
				top: 6%;
				width: 50px;
			}
		}

		.mask{
			position: relative;
			width: 100%;
			height: 100%;
			overflow: auto;
		}

		.lb-title{
			font-size: 32px;
			font-weight: 700;
			line-height: 1.4;
			margin-bottom: 4%;

			@media (min-width: $media_md) {
				font-size: 52px;
			}

			span{
				background: url('../images/global/bg_title.png') no-repeat left bottom;
				background-size: contain;
				padding-right: 40px;

				@media (min-width: $media_md) {
					padding-right: 60px;
				}
			}
		}

		.lb-content{
			background-color: #fffee3;
			padding: 4%;

			.ol-li{
				display: flex;
				justify-content: flex-start;
				align-items: flex-start;

				p{
					word-wrap: break-word;
					word-break: break-all;
				}

				.num{
					position: relative;
					margin-right: 10px;
		
					&::before{
						content: '';
						position: absolute;
						left: 0;
						top: 0;
						width: 30px;
						height: 30px;
						background-color: #fef600;
						border-radius: 100px;
						z-index: 0;
					}
		
					span{
						position: relative;
						z-index: 1;
						white-space: nowrap;
						display: inline-block;
						width: 30px;
						text-align: center;
					}
				}
			}
		}
	}
}
